*{
    line-height: 1.5;
    margin: 0;
}

.rounded{
    border-radius: 15px;
}

body{
    width: 200px
}

.container{
    padding: 5px 10px;
    width: max-content;
    gap: 5px
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}
asd
.searchBar{
    padding: 2px 5px;
    border-radius: 5px;
}

.entry{
    width: 100%;
    padding: 5px 0px;
}

h1{
    font-size: 18px;
}

h2{
    font-size: 14px;
}