*{
    line-height: 1.6;
    margin: 0;
}

p{
    line-height: 1.4;
}

.rounded{
    border-radius: 15px;
}

body{
    width: 200px
}

.container{
    padding: 5px 10px;
    width: max-content;
    gap: 3px
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

#new-entry{
    cursor: pointer;
    font-size: 16px;
    line-height: 1.4;
}

#new-entry:hover{
    color: red;
}

.searchBar{
    padding: 2px 5px;
    border-radius: 5px;
}

.entry{
    width: 100%;
    border-bottom: 1px dotted gray;
}

h1{
    font-size: 18px;
}

h2{
    font-size: 14px;
}